<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">
<head>
    <title>Home</title>
</head>
<body>

<div layout:fragment="content" class="container mySpace" style="padding-top: 0px; padding-bottom: 120px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- report -->
                <br>
                <div class="col-md-4">
                <hr>
                <ul>
                    <li>Simple Spring Boot project demo</li>
                    <li>Aereo is a imaginary management company</li>
                    <li>Java configuration is used</li>
                    <li>Admin credentials are in the Main.java class</li>
                    <li>The first IT355 course project</li>
                    <li>Andrija Djuric - 2687 SI</li>
                </ul>
                <hr>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
                <p style="margin-bottom: 8px; font-size: 14px; margin-bottom: 10px; margin-top: 20px; text-transform: uppercase; opacity: 0.95;">About us</p>
                <div id="jumb-2" class="jumbotron container-fluid">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="embed-responsive embed-responsive-16by9"
                                 style="border-style: solid; border-width: 0.5px; border-color: darkgray;">
                                <iframe class="embed-responsive-item"
                                        src="//www.youtube.com/embed/d6wRkzCW5qI"></iframe>
                                <br><br>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <br>
                            <p class="about">This <i>webapp</i> is a part of the <b>Aereo</b> company web system and is
                                used by us and our employees as a task reminder and manager for our client test runs.
                                This is our workflow, this is our motivation.</p>
                            <p class="about">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <p class="about">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et
                                quasi architecto beatae vitae dicta sunt explicabo.</p>
                            <p class="about">Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam
                                nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla
                                pariatur?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>
</div>
</body>
</html>